@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Playwrite+CU:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk&display=swap');

p{font-family: 'kaushan script';}

h1{font-family: 'honk';}

#google{font-family: "honk";}